<!DOCTYPE html>
<html>
<head>
  <title>MjuProf</title>

  <script src="https://unpkg.com/imagesloaded@4.1/imagesloaded.pkgd.js"></script>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
